<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Parking Management</title>
    <link rel="stylesheet" href="../styles/dist/main.css">
</head>
<body>
    <header>
        <h1>Parking Management</h1>
        <button onclick="location.href='pages/add-car.html'">Add Car</button>
    </header>
    <main>
        <h2>Parking Status</h2>
        <p><span id="usedSlots">0</span> cars in the parking lot</p>
        <p><span id="availableSlots">50</span> spots available</p>
        <p>Max Capacity: <span id="maxSlots">50</span></p>
        
        <h2>Cars in the Parking Lot</h2>
        <ul id="carList"></ul>
    </main>
    
    <script type="module" src="../controllers/dist/parkingController.js" defer></script>
</body>
</html>
